<div class="menu-tree">

{#    {% for item in menu %}#}
{#        {% if item.parent %}#}
{#        <a href ="http://127.0.0.1:8080/menu_tree/{{ item.parent.name }}">{{ item.parent.name }} </a>#}
{#            {% else %}#}
{#        <a href ="http://127.0.0.1:8080/menu_tree/">{{ item.parent.name }} </a>#}
{#        {% endif %}#}
{#         <h1>{{ item.name }}</h1>#}
{##}
{#                        #}
{#    {% empty %}#}
{#    <li>No items found</li>#}
{#{% endfor %}#}
{#    {% if parents %}#}
{#        <a href ="http://127.0.0.1:8080/menu_tree/{{ item.parent.name }}">{{ item.parent.name }} </a>#}
{#            {% else %}#}
{#        <a href ="http://127.0.0.1:8080/menu_tree/">{{ item.parent.name }} </a>#}
{#        {% endif %}#}
{#Родители#}

{% for item in parents %}
    <a href ="http://127.0.0.1:8080/menu_tree/{{ item.name }}">Родитель {{ item.name }} </a>
    {% empty %}
    <li>No items found</li>
{% endfor %}

{#  эллемент основной  #}
{% for item in current %}
   <a href="http://127.0.0.1:8080/menu_tree/{{ item.name }}"> {{ item.name }}</a>
    {% empty %}
    <li>No items found</li>
{% endfor %}


{#  эллемент дети  #}
{% for item in childrens %}
    <a href="http://127.0.0.1:8080/menu_tree/{{ item.name }}">Ребенок {{ item.name }}</a>
    {% empty %}
    <li>No items found</li>
{% endfor %}
</div>